spring:
  application:
    name: mail-product
  datasource:
    username: root
    password: root
    url: jdbc:mysql://192.168.121.128:3306/gulimall_pms?useUnicode=true&characterEncoding=UTF-8&useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss

  thymeleaf:
    cache: false

  redis:
    host: 192.168.121.128
    port: 6379

  cache:
    type: redis
    redis:
      time-to-live: 3600000
      cache-null-values: true
      use-key-prefix: true
  session:
    store-type: redis

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  #设置实体类的自增主键
  global-config:
    db-config:
      id-type: auto
      logic-delete-value: 1
      logic-not-delete-value: 0

server:
  port: 9999


logging:
  level:
    com.xunqi.gulimall: error
    com.alibaba.nacos.client.naming: error

#线程配置
mymail:
  thread:
    core-size: 20
    max-size: 200
    keep-alive-time: 10






